.appointment-container {
    background: #2196f340;
    padding: 50px;
}
.form-area {
    width: 50%;
    background:#fff;
    margin: 30px auto;
    border-radius: 20px;
    padding: 30px 60px;
    box-shadow: 3px 6px 10px 0px #3c0ef747;
}
p.sending {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3.5px;
}
.apm-success {
    text-align: center;
    margin-bottom: -10px;
}
.appointment-container .apm-success h3 {
    font-size: 25px;
    color: #301f5af0;
}
.appointment-container h3 {
    text-align: center;
    color: #3F51B5;
    font-size: 35px;
    text-shadow: 1px 4px 6px #9191d4;
}
form.appointment-form input {
    display: block;
    width:  96%;
    border: 1px solid #ead0d0;
    margin: 12px;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
}
#timepicker:before {
    content:'Select Time:';
    margin-right:.6em;
    color:#9d9d9d;
    }
form.appointment-form p {
    text-align: center;
    color: #8c8cffdb;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}
.sub-btn {
    border: none;
    float: right;
    font-size: 14px;
    padding: 8px 45px;
}
.clear {
    clear: both;
}










